*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Source Sans 3', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans 3', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	padding: 10px 0px;
	background: url("../images/banner.png") center top no-repeat;
	background-size: cover;
	
}
.header .navbar-expand-lg .navbar-nav .nav-link{
	color: #d3d2d2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px 0px 0px 25px;
}
.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
}
.header .navbar-nav .nav-link.active{
	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
}
.banner{
	width: 100%;
	padding: 180px 0px;
}
.banner h4{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #08c;
	line-height: 1.3em;
	letter-spacing: 1px;
}
.banner h1{
	font-size: 56px;
	font-weight: 700;
	color: #fff;
	line-height: 1.2em;
	margin: 15px 0px;
}
.banner p{
	font-size: 16px;
	font-weight: 400;
	color: #999999;
	line-height: 1.8em;
	
}
.banner .action-buttons{
	width: 100%;
	padding: 40px 0px 0px ;
}
.banner .action-buttons .btn-primary{
	padding: 15px 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background: #08c;
    border: 1px solid #08c;
    color: #fff;
    letter-spacing: 1px;
    margin: 0px 20px 0px 0px;
    transition: 1s;
}
.banner .action-buttons .btn-primary:hover{
 	background: transparent;
    border: 1px solid #08c;
    color: #08c;
}
.banner .action-buttons .btn-primary:focus{
	background: transparent;
    border: 1px solid #08c;
    color: #08c;
}
.banner .action-buttons .btn-info{
	padding: 15px 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #999;
    color: #fff;
    letter-spacing: 1px;
    transition: 1s;
}
.banner .action-buttons .btn-info:hover{
	background: #08c;
    border: 1px solid #08c;
    color: #fff;
}
.banner .action-buttons .btn-info:focus{
	background: #08c;
    border: 1px solid #08c;
    color: #fff;
}
/*title global css start here*/
.title{
	width: 100%;
}
.title h4{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #08c;
	line-height: 1.3em;
	letter-spacing: 1px;
}
.title h1{
	font-size: 50px;
	font-weight: 500;
	color: #000;
	line-height: 1.2em;
	margin: 15px 0px;
}
/*title global css end here*/
.feature{
	width: 100%;
	padding: 80px 0px;
}
.feature .title{
	padding: 0px 0px 60px 0px;
	text-align: center  ;
}
.inner-feature{
	width: 100%;
	padding: 20px 35px;
	text-align: center;
}
.inner-feature .icon-box{
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 100%;
	border: 1px solid #eee;
	margin: 0px auto 30px;
}
.inner-feature h4{
	font-size: 22px;
	line-height: 1.2em;
	font-weight: 600;
	color: #000;
}
.inner-feature p{
	font-size: 14px;
	line-height: 1.7em;
	color: #999999;
}
.about-long{
	width: 100%;
	padding: 80px 0px;
	border-top: 1px solid #eee;
}
.about-long .title{
	margin: 45px 0px 30px;
}
.about-long p{
	font-size: 14px;
	line-height: 1.7em;
	color: #999999;
}
.about-long ul{
	padding: 0px;
	margin: 30px 0px 0px;
}
.about-long ul li{
	list-style: none;
	font-size: 16px;
	line-height: 1.7em;
	color: #000;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.about-long ul li img{
	width: 14px;
	height: 13px;
	margin: 0px 10px 0px 0px;
}
.about-short{
	width: 100%;
	padding: 80px 0px;
	background: #f2f2f2;
}
.about-short .title{
	margin: 70px 0px 20px;
}
.about-short .title h1{
	font-size: 38px;
}
.about-short p{
	font-size: 14px;
	line-height: 1.7em;
	color: #999999;
}
.testimonials{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/testi.png") center top no-repeat;
	background-size: cover;
}
.testimonials .title{
	text-align: center;
	padding: 0px 0px 60px;
}
.testimonials .title h1{
	color: #fff;
}
.testimonials .owl-carousel .item h4{
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	color: #fff;
	line-height: 1.4em;
	margin: 0px 0px 40px;
}
.testimonials .owl-carousel .item img{
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.testimonials .owl-carousel .item h6{
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.2em;
	margin: 0px 0px 0px ;
}

.testimonials .owl-carousel .item p{
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.7em;
	margin: 15px 0px 5px 0px;
}
.testimonials .owl-theme .owl-nav.disabled+.owl-dots{
	margin-top: 110px;
}
.eye-catcher{
	width: 100%;
	padding: 35px 0px;
	background: #15141a;
}
.eye-catcher h1{
	font-size: 34px;
	font-weight: 600;
	line-height: 1.2em;
	margin: 10px 0px 0px;
	color: #fff;
}
.eye-catcher h1 span{
	font-weight: 300;
}
.eye-catcher .action-buttons{
	text-align: right;
}
.eye-catcher .action-buttons .btn-primary{
	padding: 15px 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background: #08c;
    border: 1px solid #08c;
    color: #fff;
    letter-spacing: 1px;
    margin: 0px 0px 0px 20px;
    transition: 1s;
}
.eye-catcher .action-buttons .btn-primary:hover{
 	background: transparent;
    border: 1px solid #08c;
    color: #08c;
}
.eye-catcher .action-buttons .btn-primary:focus{
	background: transparent;
    border: 1px solid #08c;
    color: #08c;
}
.eye-catcher .action-buttons .btn-info{
	padding: 15px 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #999;
    color: #fff;
    letter-spacing: 1px;
    transition: 1s;
}
.eye-catcher .action-buttons .btn-info:hover{
	background: #08c;
    border: 1px solid #08c;
    color: #fff;
}
.eye-catcher .action-buttons .btn-info:focus{
	background: #08c;
    border: 1px solid #08c;
    color: #fff;
}
.pricing{
	width: 100%;
	padding: 80px 0px;
}
.pricing .title{
	text-align: center;
	padding: 0px 0px 60px;
}
.price-box{
	width: 100%;
	border: 1px solid #eee;
	text-align: center;
}
.price-head{
	width: 100%;
	padding: 20px 0px;
	border-bottom: 1px solid #eee;
}
.price-head h2{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0px;
}
.main-price{
	width: 100%;
	padding: 30px 0px;
	border-bottom: 1px solid #eee;
}
.main-price h1{
	font-size: 80px;
	font-weight: 600;
	line-height: 1.2em;
	margin: 0px;
}
.main-price h1 sup{
	font-size: 36px;
	top: -25px;
}
.main-price p{
	font-size: 14px;
	line-height: 1.7em;
	color: #999;
	margin: -15px 0px 0px;
}
.price-content{
	width: 100%;
	padding: 35px 35px;
}
.price-content p{
	font-size: 14px;
	line-height: 1.7em;
	color: #999;
	margin: 0px 0px 20px;
}
.price-content p a{
	text-decoration: none;
	color: #08c;
	font-weight: 500;
}
.price-content .btn-primary{
	padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #eee;
    color: #08c;
    letter-spacing: 1px;
    margin: 20px 0px 0px 0px;
    transition: 1s;
}
.price-box:hover .price-head h2 {
	color: #08c;
}
.price-box:hover .main-price{
	background: #08c;
}
.price-box:hover .main-price h1, .price-box:hover .main-price p{
	color: #fff;
}
.price-box:hover .price-content .btn-primary{
	background: #08c;
    border: 1px solid #08c;
    color: #fff;
}
.contact-us{
	width: 100%;
	padding: 80px 0px 0px;
	background: #ededed;
	position: relative;
}
.contact-us .title{
	text-align: center;
	padding: 0px 0px 60px;
}
.info{
	width: 100%;
	text-align: center;
}
.info img{
	margin: 0px 0px 20px;
}
.info p{
	font-size: 14px;
	line-height: 1.7em;
	color: #999;
}
.contact{
	width: 100%;
	padding: 40px 55px;
	margin: 60px 0px -70px;
	background: #000;
	z-index: 1;
}
.contact .form-control{
	padding: 18px 16px;
	border:1px solid #444348;
	background: transparent;
	border-radius: 3px;
	color: #999;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.text-right{
	text-align: right;
}
.contact .btn-primary{
	padding: 15px 35px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background: #08c;
    border: 1px solid #08c;
    color: #fff;
    letter-spacing: 1px;
    margin: 0px 0px 0px 0px;  
}
.contact .btn-primary:hover{
	background: transparent;
    border: 1px solid #08c;
    color: #08c;
}
.map{
	width: 100%;
}
.footer{
	width: 100%;
	padding: 25px 0px;
	background: #15141a;
}
.footer .social-media{
	width: 100%;
	display: block;
	text-align: center;
	padding: 0px;
	margin: 10px;
}

.footer .social-media li{
	list-style: none;
    display: inline-block;
    margin: 0px 30px 0px 0px;
}
.footer .social-media li a{
	display: block;
	background: transparent;
	color: #444348;
}
.footer .social-media li a:hover{
	background: transparent;
    color: #08c;
}
.footer p{
	font-size: 14px;
	line-height: 1.7em;
	text-align: center;
	color: #444348;
	text-transform: uppercase;
	margin: 5px 0px 0px;
}
